/* ---- CSS Demo ---- */

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  /*  --------------- Responsive Images -----------------  */

img{
  max-width:100%;
}

  /*  --------------- Utility Classes -----------------  */

.container{
  max-width: 960px;
  width:80vw;
  margin: 40px auto;
}
.img-right{
  float:right;
  margin: 10px 0 10px 20px;
  border:1px solid #c0c0c0;
  padding:5px;
  border-radius:50px;
}

.img-left{
  float:left;
  margin: 10px 20px 10px 0;
  border:1px solid #c0c0c0;
  padding:5px;
  border-radius:50px;
}

.img-center{
  display:block;
  margin:20px auto;
  border:1px solid #c0c0c0;
  padding:5px;
  border-radius:50px;
}

  
  /*  --------------- Global Styles -----------------  */
  
  body{
  font-family: "Gabarito", sans-serif;
  margin: 0;
  }
  
  header.primary {
  background-color: #81b8ef;
  color:#ffffff; 
  text-align:center;  
  text-shadow:2px 2px 20px #000000;  
  padding: 10px;
  }
  header.primary h1 {
    font-size: 2.4rem;
    margin: 20px 0 0;
   
  }
  header.primary h1 a{
    color:#ffffff;
text-decoration:wavy;
}
header.primary h2 {
    margin:0;
    font-size: 1.4rem;
  }
  header.primary nav{
  max-width: 900px;
  margin: 20px auto;
  }
  header.primary ul {
    padding:0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  header.primary ul li{
    list-style-type:none
  }
  header.primary nav a{
    color:#ffffff;
    text-decoration: none;
    background-color: #0f648c;
    padding:5px 10px;
  border-radius: 20px;
  border: 1px solid#ffffff;
  transition: 0.4s;
  }
  header.primary nav a:hover{
    background-color:rgba(0,0,0,.8);
  }

  #content{
    line-height: 1.5;
  }

  #content h2{
    color: #6baff3;
    border-bottom:1px dotted #c0c0c0;
   }
   #content h3{
    border-left: 7.5px solid #6cb1f6;
    padding: 7.5px;
  }
  #blog{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
    border-bottom:1px dotted rgba(82, 182, 245, 0.518);
    padding: 2rem 0;
  padding-bottom: 3rem
  }

  #blog .post{
    box-shadow: 0 8px 16px rgba(0,0,0,.6);
    padding: 10px;
    border-radius:4px;
    font-size:.8rem;
    padding-top: 1rem;

}
  
  #blog figure{
    margin:0;
  }
  
  #blog figcaption{
    text-transform:uppercase;
    font-size:.6rem;
    text-align:center;
    color:#c0c0c0;
  }
  
  #blog header{
    background:#81b8ef;
    padding-top: 10px;
    font-size: .6rem;
  }
  #blog header h2{
    margin:0;
    color:#c0c0c0;

    #blog a{
      color:#67b0f8;
    }
    
    #blog .post:hover{
      box-shadow: 0 8px 16px rgba(0,0,0,.6);
    }

    #practice h2{
      color: #66aef6;
      border-bottom: 1px solid #c0c0c0;
    }

    table{
      border: 1px; solid #c0c0c0;
      width: 100%;
      margin: 20px 0;
      border-collapse: collapse;
    }

    caption{
      font-weight: bold;
      margin: 10px;
    }
    th{
      background-color: #1b242d;
      color: #ffffff;
      padding: 7.5px;
    }
    tr:nth-child(even){
      background-color: rgba(0,0,0,.1);
    }
    td{
    border: 1px solid #c0c0c0;
    padding: 5px;

    }

    aside[role="complementary"]{
      background-color: #75b2f0;
      color: #ffffff;
      padding: 2rem;
    }
    aside .container{
      display:flex;
      flex-direction:row;
      gap: 40px;
      justify-content: center;
    }

   aside .container a{
    color: #ffffff;
   } 
    aside .container a:last-of-type{
      display:block;
      color:#fff;
      text-align:right;
      margin-top: 1rem;
    }
    aside .widget footer{
      display: none;
    }
  colophon{
    background-color: #66aef6;
   text-align:center;
   padding:10px;
   color:#ffffff;
  font-size:1.1rem;
 }

































  @media screen and (max-width: 600px) {
    header.primary ul {
      flex-direction: column;
      gap: 20 px;
      max-width:250px;
      margin: auto;
    }
    header.primary nav a{
      display:block;
    
    }
  }
  
   
  
  
  
  
  