
 /*----- font family -----*/
body {
  margin: 0%;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style: normal;
}

.hero-img {
  background-image: url(../img/dragon-in-space.jpg)
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content{
background: white;
color:black;
padding:4rem;

}  

.configurations {
  background-color: black;
  padding:2rem

}




.configuration-container{
  display: flex;
  gap: 5rem;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.post{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  flex-wrap: wrap;
  color: black;
  width: 25%;
  font-size: 12px;
  border-radius: 10px;
  padding: 1rem;
}

.post ul {
  display: flex;
  flex-direction: column;
}
.background{
display: flex;
justify-content: center;
gap: 2rem;
} 
.background-aside{
  width: 30%;
  
}

h1, h2{
text-align: center;
}

th {
  border-bottom: 2px solid black;
}

/*----nav-----*/
nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 2rem;
  }
 
  
  a {
    opacity: 0.5;
    border-radius: 10px;
    display: block;
    padding: 10px 40px;
    background-color: #dddddd;
  }
  
  